<% if @projects.present? %>
	<%= milestones_calendar %>

	<% if @stories.present? %>
	<div class="box_top">
		<h2>My Stories (all projects)</h2>
	</div>
	<div class="box_content">
		<%= render( :partial => 'stories/stories', :locals => { :hide_cols => [ :checkbox, :owner, :action] } ) %>
	</div>
	<% end %>
	
	<% if @tasks.present? %>
	<div class="box_top">
		<h2>My Stories (all projects)</h2>
	</div>
	<div class="box_content">
		<%= render( :partial => 'tasks/tasks', :locals => {:hide_cols => [:owner, :action ]}) %>
	</div>
	<% end %>
<% else %>

	<div class="notice info">
		<p>Welcome to eXPlain Project Management Tool</p>
	</div>

	<p><strong>eXPlainPMT</strong> is a project management tool designed to
	support the agile development of software&mdash;specifically the
	<em>eXtreme Programming</em> methodology. Although traditional <abbr
	title="eXtreme Programming">XP</abbr> recommends the use of index cards
	and whiteboards as the sole planning tools, many teams are unable to do
	so because of geographical or organizational constraints. Using
	<strong>eXPlainPMT</strong>, such a team can gain the full benefit of the
	XP methodology while removing the barriers that offline communication can
	impose.</p>

	<div class="important">
	  <p>You are not currently assigned to any project team.</p>
	  <% if is_admin? %>
	      <p>You can now either...</p>
	      <p>
	          <%= link_to('Manage Projects', projects_path) %>
	          &nbsp;&nbsp;...or...&nbsp;&nbsp;
	          <%= link_to('Add Additional User Accounts', users_path) %>
	      </p>
	  <% end %>
	</div>
<% end %>