<div class="notice info">
	<p>Initiatives allow for logical grouping of stories. When a story is created, it can be tied to an initiative. Stories can also be sorted by initiative.</p>
</div>
<div class="box_top">
	<h2>Initiatives</h2>
	<ul class="sorting">
		<li><%= link_to_new_initiative %></li>
	</ul>
</div>
<% if @initiatives.present? %>
	<div class="box_content">
		<table class="sorting" id="initiative_table">
			<thead>
				<tr>
					<th class="checkers"><input type="checkbox" class="checkall" /></th>
					<th class="align_left">Initiative Name</th>
					<th class="align_left center">Start Date</th>
					<th class="align_left center">End Date</th>
					<th class="align_left center">Customer</th>
					<th class="align_left center tools">Action</th>
				</tr>
			</thead>
			<tbody>
			<% @initiatives.each do |initiative|%>
				<tr>
					<th class="checkers"><input type="checkbox" /></th>
					<td class="align_left"><%= link_to initiative.name, '#' %></td>
					<td class="align_left center"><%= initiative.start_date%></td>
					<td class="align_left center"><%= initiative.end_date%></td>
					<td class="align_left center"><%= initiative.customer%></td>
					<td class="align_left center tools">
						<%= link_to_edit_initiative(initiative, :text => "Edit") %>
						<%= link_to_delete_initiative(initiative) %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
<% else %>
<div class="notice info">
	<p>This project does not have any Initiatives yet.</p>
</div>
<% end %>
