<tr>
	<td class="align_left"><%= user.full_name %></td>
	<td class="align_left center"><%= user.team %></td>
	<td class="align_left center"><%= user.login %></td>
	<td class="align_left center"><%= user.email %></td>
	<td class="align_left center"><%= user.last_login_at %></td>
	<td class="align_left center tools">
		<% if is_admin? %> 
			<%= link_to_edit_user(user) %>
			<%= link_to_delete_user(user) %>
		<% elsif current_project %>
			<%= link_to_remove_user(user) if current_project %>
		<% end %>
	</td>
</tr>