<h2>Story Card Details</h2>
<fieldset>
	<%= form.label :title %>
	<%= form.text_area :title %>
	<%= form.label :initiative_id %>
	<%= form.select :initiative_id, @project.initiatives.map{|x|[x.name, x.id]}, :include_blank => true %>
	<%= form.label :release_id %>
	<%= form.select :release_id, @project.releases.map{|x|[x.name, x.id]}, :include_blank => true %>
	<%= form.label :customer %>
	<%= form.text_field :customer %>
</fieldset>
<fieldset>
	<%= form.label :status %>
	<%= form.select :status, Story.statuses.collect{|k,v|[k.to_s.titleize, v] }%>
	<%= form.label :value %>
	<%= form.select :value, Story.values.collect{|k,v|[k.to_s.titleize, v] }%>
	<%= form.label :risk %>
	<%= form.select :risk, Story.risks.collect{|k,v|[k.to_s.titleize, v] }%>
</fieldset>
<fieldset>
	<%= form.label :points %>
	<%= form.text_field :points, :size => 2 %>
	<%= form.label :description %>
	<%= form.text_area :description %>
</fieldset>