<tr class="<%= cycle("even_row", "odd_row") %>">
	<%= column_content_for(hide_cols, :checkbox) do %>
		<td class="checkers"><%= check_box_tag 'selected_stories[]', story.id, false, :id => "sc_check_#{story.id}" %></td>
	<% end %>
	<td class="align_left center">
		<label class="inline" for="sc_check_<%= story.id %>"><%= "SC#{story.scid}" %></label>
	</td>

	<%= column_content_for(hide_cols, :project ) do %>
	<td class="align_left center"><%= link_to(story.project.name, project_dashboard_path(story.project)) %></td>
	<% end %>

	<td class="align_left center"><%= link_to_story(story) %></td>
	<td class="align_left center"><%= story.initiative_id? ? link_to_edit_initiative(story.initiative, :class => "popup") : "Not Assigned" %></td>
	
	<%= column_content_for(hide_cols, :release ) do %>
	<td class="align_left center"><%= story.release_id? ? link_to_release(story.release) : "Not Assigned" %></td>
	<% end %>
	
	<td class="align_left center"><%= story.points %></td>
	
	<%= column_content_for(hide_cols, :value_risk) do %>
	<td class="align_left center"><%= story.value %></td>
	<td class="align_left center"><%= story.risk %></td>
	<% end %>
	
	<td class="align_left center"><%= story.status %></td>
	
	<% unless hide_cols.include?( :owner ) %>
	<td class="align_left center">
	<% if story.owner%>
		<%= story.owner.full_name %><%= '- ' + story.owner.team if story.owner.team? %>
		<%= '(' + link_to_release_story_ownership(story) + ')' %>
	<% elsif story.iteration  %>
		<%='None (' + link_to_take_story_ownership(story) + '/' + link_to_assign_story_ownership(story) + ')'%>
	<% end %>
	</td>
	<% end %>
	<%= column_content_for(hide_cols, :iteration ) do %>
	<td class="align_left center"><%= story.iteration_id? ? link_to_iteration(story.iteration) : "Not Assigned" %></td>
	<% end %>
	<td class="align_left center"><%= story.customer %></td>
	
	<%= column_content_for(hide_cols, :position) do %>
	<td class="align_left center"><%= story.position %></td>
	<% end %>
	
	<%= column_content_for(hide_cols, :action) do %>
	<td class="align_left center tools">
		<%= link_to_edit_story(story) %>
		<%= link_to_delete_story(story) %>
		<%= link_to_audit_story(story) %>
	</td>
	<% end %>
</tr>