<% hide_cols ||= [] %>
<table class="sort-table" width="100%" id="backlog_stories" cellspacing="0" cellpadding="0" border="0">
	<thead>
		<tr>
			<td>SCID</td>
			<%= column_content_for(hide_cols, :project) do %><td>Project</td><%end%>
			<td>Title</td>
			<td>Initiative</td>
			<%= column_content_for(hide_cols, :release) do %><td>Release</td><%end%>
			<td>Points</td>
			<td>Value</td>
			<td>Risk</td>
			<td>Status</td>
			<%= column_content_for(hide_cols, :owner) do %><td>Owner</td><%end%>
			<%= column_content_for(hide_cols, :iteration) do %><td>Iteration</td><%end%>
			<td>Customer</td>
			<td>#</td>
			<%= column_content_for(hide_cols, :action) do %><td>Action</td><%end%>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => @stories, :locals => { :hide_cols => hide_cols } %>
	</tbody>
</table>