<h2>Backlog</h2>
<%= content_for(:story_search_form, '') %>

<%= render :partial => "story_links" %>
<%= link_to_show_cancelled %>&nbsp;&nbsp;&nbsp;
<%= link_to_show_all %>&nbsp;&nbsp;&nbsp;

<% if @stories.blank? %>
	<p>No active stories are in the project backlog.</p>
<% end %>
<div id="story_backlog">
	<%= render :partial => 'backlog' %>
</div>