<h2>Iteration Details</h2>
<fieldset>
	<%= form.label :name %>
	<%= form.text_field :name %>
	<%= form.label :start_date, "Start Date" %>
	<%= form.text_field :start_date %>
</fieldset>
<fieldset>
	<%= form.label :length %>
	<%= form.text_field :length, :size => 3 %>
	<%= form.label :budget %>
	<%= form.text_field :budget, :size => 3 %>
</fieldset>