<div class="notice info">
	<p>An iteration is a time boxed (typically 1 to 3 weeks long) plan, where stories are developed, tested, demonstrated, and prepared for production. Stories are placed into the iteration in order of the most valuable to the customer.</p>
</div>

<div class="grid_8">
	<div class="box_top">
		<h2>Iterations</h2>
		<ul class="sorting">
			<li><%= link_to_new_iteration %></li>
		</ul>
	</div>
	<div class="box_content padding">
	<% if @project_iterations.present? %>
		<ul>
			<%= render :partial => @project_iterations.future %>
		</ul>
		<ul>
			<%= render :partial => @project_iterations.past %>
		</ul>
		<ul>
			<li><%= link_to_current_iteration_in @project_iterations %></li>
			<li><%= link_to_next_iteration_in @project_iterations %></li>
			<li><%= link_to_previous_iteration_in @project_iterations %></li>
		</ul>
	<% else %>
		<p>This project does not have any Iterations yet.</p>
	<% end %>
	</div>
</div>

<% if @iteration %>
<div class="grid_16">
	<div class="box_top">
		<h2><%= header_for(@iteration) %></h2>
		<ul class="sorting">
			<li><%= link_to_edit_iteration(@iteration, :text => "Edit") %></li>
			<li><%= link_to_delete_iteration(@iteration) %></li>
			<li><%= link_to_allocation(@iteration) %></li>
		</ul>
	</div>
	<div class="box_content padding" id="iteration_summary">
		<%= render :partial => 'iteration_summary' %>
	</div>
</div>
<div class="grid_16">
	<div class="box_top">
		<h2>Story Cards</h2>
		<ul class="sorting">
			<li><%= link_to_new_iteration_story(@iteration) %></li>
			<% if current_project.stories.backlog.present? && @iteration.stop_date + 1 > Date.today %>
				<li><%= link_to_assign_stories(@iteration) %></li>
			<% end %>
			<li><%= link_to_export_iteration_stories(@iteration) %></li>
			<li><%= link_to_export_iteration_tasks(@iteration) %></li>
		</ul>
	</div>
	<% if @stories.present? %>
	<div class="box_content">
		<table class="sorting">
			<thead>
				<th class="align_left">Story Card</th>
				<th class="align_left center">Title</th>
				<th class="align_left center">Initiative</th>
				<th class="align_left center">Points</th>
				<th class="align_left center">Status</th>
				<th class="align_left center">Owner</th>
				<th class="align_left center">Customer</th>
			</thead>
			<tbody>
				<%= render :partial => @iteration.stories, :locals => { :hide_cols => [:checkbox, :project, :release, :value_risk, :iteration, :action, :position] } %>
			</tbody>
		</table>
	</div>
	<% else %>
	<div class="box_content padding">
		<p>No stories have been assigned to this iteration.</p>
	</div>
	<% end %>
</div>
<% end %>