<h2>Release Details</h2>
<fieldset>
	<%= form.label :date %>
	<%= form.text_field :date %>
	<%= form.label :name %>
	<%= form.text_field :name %>
	<%= form.label :description %>
	<%= form.text_area :description %>
</fielset>