<h2>Release Details</h2>
<fieldset>
	<%= f.label :date %>
	<%= f.text_field :date %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :description %>
	<%= f.text_area :description %>
</fielset>