<div class="box_top">
	<h2>Releases</h2>
	
	<ul class="sorting">
		<li><%= link_to_new_release %></li>
	</ul>
</div>
<div class="box_content">
	<% if @releases.present? %>
	<table class="sorting">
		<thead>
			<tr>
				<th class="checkers"><input type="checkbox" class="checkall" /></th>
				<th class="align_left">Name</th>
				<th class="align_left center">Date</th>
				<th class="align_left center tools">Action</th>
			</tr>
		</thead>
		<tbody>
		<% @releases.each do |release| %>
			<tr>
				<th class="checkers"><input type="checkbox" /></th>
				<td class="align_left"><%= link_to_release(release) %><br /><%= textilize(release.description) %></td>
				<td class="align_left center"><%= numeric_date(release.date) %></td>
				<td class="align_left tools center">
					<%= link_to_edit_release(release) %>
					<%= link_to_delete_release(release) %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>
	<% else %>
	<p>This project does not have any Releases yet.</p>
	<% end %>
</div>